# Visual Studio
*.suo
*.user
*.sln.docstates
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.sln
*.recipe

*.lib
*.a
*.obj
*.dylib
*.xz

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak
*.project
/devtools/bin/vpc_linux

# Linux libs
/thirdparty/gperftools-2.0/.libs/
/thirdparty/gperftools-2.0/.deps/
/thirdparty/gperftools-2.0/vsprojects/
/thirdparty/gperftools-2.0/**/*.o
/thirdparty/gperftools-2.0/**/*.lo
/thirdparty/gperftools-2.0/**/*.la
/thirdparty/gperftools-2.0/*_test
/thirdparty/gperftools-2.0/*_unittest
/thirdparty/gperftools-2.0/Makefile
/thirdparty/gperftools-2.0/config.status
/thirdparty/gperftools-2.0/libtool

/thirdparty/protobuf-2.6.1/aclocal.m4
/thirdparty/protobuf-2.6.1/configure
/thirdparty/protobuf-2.6.1/src/protoc
/thirdparty/protobuf-2.6.1/src/unittest_proto_middleman
/thirdparty/protobuf-2.6.1/**/Makefile*
/thirdparty/protobuf-2.6.1/**/libtool
/thirdparty/protobuf-2.6.1/**/.dirstamp
/thirdparty/protobuf-2.6.1/protobuf*.pc
/thirdparty/protobuf-2.6.1/gtest/config.status
/thirdparty/protobuf-2.6.1/gtest/scripts/gtest-config
/thirdparty/protobuf-2.6.1/gtest/build-aux/config.h
/thirdparty/protobuf-2.6.1/**/stamp-h1
/thirdparty/protobuf-2.6.1/autom4te.cache/
/thirdparty/protobuf-2.6.1/config.h
/thirdparty/protobuf-2.6.1/config.status
/thirdparty/protobuf-2.6.1/**/*.o
/thirdparty/protobuf-2.6.1/**/*.la
/thirdparty/protobuf-2.6.1/**/*.lo
/thirdparty/protobuf-2.6.1/**/.deps
/thirdparty/protobuf-2.6.1/**/.libs
thirdparty/protobuf-2.6.1/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.*
/thirdparty/protobuf-2.6.1/src/google/protobuf/unittest.pb.*
/thirdparty/protobuf-2.6.1/src/google/protobuf/unittest_*
/thirdparty/protobuf-2.6.1/src/google/protobuf/.deps/
/thirdparty/protobuf-2.6.1/src/google/protobuf/.dirstamp
/thirdparty/protobuf-2.6.1/src/google/protobuf/.libs/

# Specific Source build products
/lib/public/linux32/*.so

client.pdb
client.dll
client.lib
server.pdb
server.dll
server.lib

client.so
server.so
server_srv.so

client.dylib
client.dylib.dSYM/
server.dylib
server.dylib.dSYM/

# files generated by running a mod
config.cfg

# shader files
*.tmp

*.vpc.sentinel
*.vcxproj
*.vcxproj.filters
*.vcxproj.vpc_crc
*.vcxproj.FileListAbsolute.txt
# required upgraded/modified protobuf projects
!thirdparty/protobuf-2.5.0/vsprojects/*.vcxproj
*.iobj
*.pch
*.pdb
*.ipdb
*.dbg

# ignore vs-generated folders
.vs/
Retail/
Retail_*/
Release/
Release_*/
Debug/
Debug_*/
*.tlog/
UpgradeLog*.htm

# ignore generated protobufs
generated_proto*/
